@model Poetizando.Entidade.Frase
@section headScripts{<script type="text/javascript" src="/scripts/poetizando/pagina-frase-criar.js"></script>}
@{ ViewBag.FbTitle = "Enviar uma frase"; }
<section id="pagina-enviar-frase">

    <nav class="breadcrumb">
        <ul>
            <li><a href="/" title="Volte para a página inicial do Poetizando">inicial</a></li>
            <li>></li>
            <li><a href="/frase"  title="Inspire-se vendo muitas frases legais" >frases</a></li>
        </ul>
    </nav>

    <h2>enviar uma frase</h2>
    <p>Você é poeta, escritor ? Simplesmente adora e conhece muitas frases legais ? Colabore com o poetizando, envie suas citações.</p>

    @using (Html.BeginForm("Criar", "Frase", FormMethod.Post))
    {   
        <fieldset class="formulario">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Corriga os erros e tente novamente.")

            <p>
                <label for="frase">Frase:</label>@Html.TextAreaFor(m => m.Texto, new { MaxLenght = 1000, cols = 50, rows = 5 }) @Html.ValidationMessageFor(m => m.Texto)                
            </p>
            <br /><br /><br />
            <p>
                <label for="ddlAutor">Autor: </label>@Html.DropDownList("ddlAutor", ((IList<Poetizando.Entidade.Autor>)ViewBag.Autores).Select(o => new SelectListItem() { Text = o.Nome, Value = o.Id, Selected = false }), "escolha um autor")
                <input type="checkbox" id="chkOutroAutor" /> outro autor
            </p>

            <p id="outro-autor" style="display:none;">
                <label for="txtOutroAutor">Outro autor: </label>@Html.TextBox("txtOutroAutor")
            </p>

            <p>
                <label for="ddlCategoria">Categoria: </label>@Html.DropDownList("ddlCategoria", ((IList<Poetizando.Entidade.Tag>)ViewBag.Categorias).Select(o => new SelectListItem() { Text = o.Nome, Value = o.Id, Selected = false }), "escolha uma categoria")
                <input type="checkbox" id="chkOutraCategoria" /> outra categoria
            </p>

            <p id="outra-categoria" style="display:none;">
                <label for="txtOutraCategoria">Outra categoria: </label>@Html.TextBox("txtOutraCategoria")
            </p>

            <label for="btn">&nbsp;</label><input type="submit" value="enviar" />
        </fieldset>    
    }
    
</section>